@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
/**/
/*BODY*/
body{line-height:1.5;font-family: 'Roboto Mono', monospace;min-height:100vh;margin:0;display: flex;flex-wrap: wrap;animation: fadeInAnimation ease 3s;animation-iteration-count: 1;animation-fill-mode: forwards;}
*{margin:0;padding:0;box-sizing: border-box;}
@keyframes fadeInAnimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
/**/
/*FOOTER*/
.footer-col{width:25%;padding:0 15px;}
.footer-col h4{font-size:18px;color:#333;text-transform: capitalize;margin-bottom: 35px;font-weight: 500;position:relative;}
.footer-col h4::before{content:'';position:absolute;left:0;bottom:-10px;height:2px;box-sizing:border-box;width:50px;}
.footer-col ul li:not(:last-child){margin-bottom:10px;}
.footer-col ul li a{font-size:12px;text-transform:capitalize;font-weight:300;color:#bbbbbb;display: block;}
.footer-col .social-links a{display: inline-block;text-align: center;border-radius: 50%;transition: all 0.5s ease;}
.footer-col{height:150px;flex-shrink: 0;}
/**/
/*lINKS*/
a{text-decoration:none;color:#333;}
ul{list-style: none; padding: 0;}
.links{display: flex;flex-direction: row;justify-content: center;align-items: center;}
.pagination>li>a{color: red;}
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover{background-color: red;border-color: red;}
/**/
/*HEADER*/
nav{font-size: 12px;}
.card-text{font-size:12px;}
.row{display:flex;flex-wrap:wrap;}
/**/
/*CARDS*/
.group-card{display:flex;justify-content:space-evenly;}
.articles{display: flex;justify-content: space-between;flex-wrap: wrap;}
.news{display: flex;justify-content: space-between;flex-wrap: wrap;}
.card-art{display: flex;justify-content: center;flex-direction: column;}
.card{box-shadow: rgb(85, 85, 85) 1px 1px 12px;}
.banniere{background-color:grey;width:auto;height:100px;border-radius: 10px;}
.nav-link{color:#333;text-transform:uppercase;}

.main > div{background: linear-gradient(to left, #000046, #1CB5E0); color: blue;}
.main{max-width:1200px;margin:0 auto;display: grid;grid-template-columns: repeat(4, 250px);grid-template-rows: repeat(4, 250px);gap: 10px;}




/*
    RESPONSIVE
                CODE
                        */
@media (max-width: 994px) {.news,.articles{display: flex;flex-direction: column;justify-content: center;align-items: center;}}                        
@media(max-width: 767px){.footer-col{width: 50%;margin-bottom: 30px;}}
@media(max-width: 574px){.footer-col{width: 100%;}}
@media screen and (max-width: 480px){*{white-space:nowrap;overflow: hidden;word-wrap: break-word;}}
@media (max-width: 575px){.footer-col{display: flex;flex-direction: column;align-items: center;}}
/**/  
